<div class="card kitten">
  <p class="card__info">
    <span class="card__key">Name</span>
    <span class="card__value"><%= kitten.name %></span>
  </p>
  <p class="card__info">
    <span class="card__key">Age</span>
    <span class="card__value"><%= kitten.age %></span>
  </p>
  <p class="card__info">
    <span class="card__key">Cuteness</span>
    <span class="card__value"><%= kitten.cuteness %></span>
  </p>
  <p class="card__info">
    <span class="card__key">Softness</span>
    <span class="card__value"><%= kitten.softness %></span>
  </p>
</div>
