<h1>Editing kitten</h1>

<%= render "form", kitten: @kitten %>

<br>

<div>
  <%= link_to "Destroy this kitten", @kitten, data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %> |
  <%= link_to "Back to kittens", kittens_path %>
</div>
